{% extends 'base.html.twig' %}

{% block title %}produit{% endblock %}

{% block body %}

    <section>
        <article>
            <div>
                <img src= "{{ asset('/images/products/' ~ product.0.image.name ) }}" alt="" >
                <pre>
                    {{ dump(product) }}
                </pre>
                {# {{ product.photo }} #}
            </div>

            <pre>
                {# {{ dump(product.0.didding.isActive) }} #}
            </pre>

            <div>
                <p>Titre :{{ product.0.title }}</p>
                <p>Date de publication : {{ product.0.createdAt | date('d/m/Y H:i') }}</p>

                {% if product.0.priceFixe is not null %}
                    <p>Prix fixe immédiat : {{ product.0.priceFixe }}</p>
                {% endif %}

            </div>

            <div>
                <p>
                    {% if product.0.diddings is not empty %}

                        <pre>
                            {# {{ dump(product.0.diddings) }} #}
                        </pre>
                        

                        {% for product_didding in product.0.diddings %}

                        <pre>
                            {{ dump(product_didding) }}
                        </pre>

                        <pre>
                            {{ dump(app.user == product_didding.shopper) }}
                        </pre>

                            {% if app.user == product_didding.shopper %}
                                <a href="{{ path('message_with_owner', { 'product_id' : product.0.id, 'didding_id' : product_didding.id } ) }}">Envoyer un message</a>
                            {% endif %}
                            
                            {% if product_didding.isActive == true and product_didding.winner is null  %}
                               {#  <a href="{{ path('didding_add', { 'id' : product.0.id } ) }}">Mettre au enchère</a>
                            {% else %} #}
                                Ce produit est actuellement aux enchère <a href="{{ path('didding_one', { 'id' : product_didding.id } ) }}">cliquer ici pour y accéder</a>

                                
                                
                                

                            {% else %} 

                                {% if product_didding.isActive == false and product_didding.winner == true  %}
                                        Ce produit a été vendu à {{ product_didding.bestPrice }} €
                                {% endif %}

                                {# {% if product.0.sold == false %}
                                    <a href="{{ path('didding_add', { 'id' : product.0.id } ) }}">Remettre au enchère </a>
                                {% endif %} #}
                            {% endif %}

                        {% endfor %}

                        {% if product.0.sold == false and product.0.sold is not null %}
                            <a href="{{ path('didding_add', { 'id' : product.0.id } ) }}">Remettre au enchère </a>
                        {% endif %}
                        
                    {% else %}
                        <a href="{{ path('didding_add', { 'id' : product.0.id } ) }}">Mettre au enchère </a>
                    {% endif %}
                    
                
                    <a href="{{ path('product_edit', { 'id' : product.0.id } ) }}">Modifier</a>
                    <a href="{{ path('product_delete', { 'id' : product.0.id } ) }}">Supprimer</a>
                </p>
            </div>
        </article>
    </section>
    

{% endblock %}