<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('product_all') }}">Accueil</a></li>
                    <li><a href="{{ path('category_all') }}">Voir les categories</a></li>
                    <li><a href="{{ path('didding_all') }}">Voir les enchères</a></li>
                

                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}"> Déconnexion </a></li>
                    {% else %}
                        <li><a href="{{ path('app_registration') }}"> Inscription </a></li>
                        <li><a href="{{ path('app_login') }}"> Connexion </a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        
        {% block body %}{% endblock %}
    </body>
</html>
