{% extends 'base.html.twig' %}

{% block title %}Voir un ticket{% endblock %}

{% block body %}

    <section>
        <h1>Ticket n° {{ ticket.id }}</h1>

        <div>
            {% if ticket.close == false %}
                <form method="POST" action="{{ path('ticket_close', { 'id' : ticket.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sûr de vouloir fermer ce ticket ?')">
                    <input type="hidden" name="_token" value="{{ csrf_token('close_ticket') }}">
                    <button> Fermer ce ticket </button>
                </form>
            {% else %}
                <form method="POST" action="{{ path('ticket_open', { 'id' : ticket.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sûr de vouloir ouvrir ce ticket ?')">
                    <input type="hidden" name="_token" value="{{ csrf_token('open_ticket') }}">
                    <button> Ouvrir ce ticket </button>
                </form>
            {% endif %}
        </div>

        <article>

            <h2>{{ ticket.title }}</h2>

            <div>
                <p>Créer le : {{ ticket.dateCreatedAt | date('d/m/Y H:i') }}</p>
                <p>Categorie : {{ ticket.category.name }}</p>
                <p>{{ ticket.content }}</p>

                {% if app.user %}
                    <ul>
                        <li>
                            {% if ticket.author.id == app.user.id %}
                                <button>
                                    <a href="{{ path('ticket_edit', { 'id' : ticket.id } ) }}">Modifier</a>
                                </button>

                                <span>
                                    {# <a href="{{ path('ticket_delete', { 'id' : ticket.id } ) }}">Supprimer</a> #}

                                    <form method="POST" action="{{ path('ticket_delete', { 'id' : ticket.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir annuler votre ticket ?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                        <button> Supprimer </button>
                                    </form>
                                </span>
                            {% else %}
                            {% endif %}
                        </li>
                    </ul>
                {% else %}
                {% endif %}
            </div>
        </article>

        {% if ticket.close == false %}
            <article>
                <div id="add_message">

                    <h2>Ajouter un message</h2>

                    {{ form_start(formMessage, { 'attr' : { 'class' : 'form' }} ) }}

                        <div class="form_group">

                            <div class="form-error">
                                {{ form_errors(formMessage.content) }}
                            </div>

                            <label for="inputTitle">Message : </label>

                            <div>
                                {{ form_widget(formMessage.content, {attr : {class : 'form_control' }} ) }}
                            </div>
                            
                            <small>{{ form_errors(formMessage.content) }} </small>

                        </div>

                        <button type="submit" class="btn_submit">Ajouter</button>

                    {{ form_end(formMessage) }}
                </div>
            </article>
        {% else %}
            <p>Ce ticket a été fermer le {{ ticket.dateUpdatedAt | date('d/m/Y H:i') }}</p>
        {% endif %}

        <article>
            <div>
                <h2>Réponse au ticket</h2>

                {% for message in ticket.messages %}

                    <div>

                        <p>Message de <strong>{{ message.author.lastName }} {{ message.author.firstName }}</strong></p>
                        <p> Le {{ message.dateCreatedAt | date('d/m/Y H:i') }}
                            <span>
                                {# <a href="{{ path('message_delete', { 'id' : message.id } ) }}">supprimer</a> #}
                                <form method="POST" action="{{ path('message_delete', { 'id' : message.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir annuler votre message ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                    <button> Supprimer </button>
                                </form>
                            </span>
                        </p>
                        <p>{{ message.content }}</P>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}