{% extends 'base.html.twig' %}

{% block title %}Hello DidingController!{% endblock %}

{% block body %}
    <h1>Tous les enchères</h1>

    {# <p><a href="{{ path('product_add' ) }}" >ajouter un article</a></p> #}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom du produit</th>
                <th scope="col">Date de départ</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Prix de départ</th>
                <th scope="col">Prix vendu</th>
                <th scope="col">Prix voulu par le vendeur</th>
                <th scope="col">vendeur</th>
                <th scope="col">Prix acheteur</th>
                <th scope="col">Nom acheteur</th>
                <th scope="col">Etat de l'enchère</th>
            </tr>
        </thead>
        <tbody>

        <pre>
            {{ dump(diddings) }}
        </pre>

            {% for didding in diddings %}

            <pre>
                {{ dump(didding.product.user.lastName) }}
            </pre>
                <tr>
                    <th>{{ didding.product.title }}</th>
                    <td>{{ didding.dateStartAt | date('d/m/Y H:i') }}</td>
                    <td>{{ didding.dateEndAt | date('d/m/Y H:i') }}</td>
                    <td>{{ didding.priceStart }}</td>
                    <td>{{ didding.priceEnd }}</td>
                    <td>{{ didding.priceImmediate }}</td>
                    <td>{{ didding.product.user.lastName }} {{ didding.product.user.firstName }}</td>
                    <td>{{ didding.priceShopper }}</td>
                    <td>{{ didding.shopper }}</td> 
                    <td>
                        {% if didding.isActive == true %}
                            En cours
                        {% else %}
                            Terminer
                        {% endif %}
                    </td>
                    {# <td>{{ product.photo }}</td> #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
