{% extends 'base.html.twig' %}

{% block title %}enchère{% endblock %}

{% block body %}

<section>
<pre>
    {{ dump(didding) }}
</pre>

    

    <article>
        <div>
                <img src= "{{ asset('/images/products/' ~ didding.0.product.image.name ) }}" alt="" >
                <pre>
                    {# {{ dump(didding.0.product.image.name) }} #}
                </pre>
                {# {{ product.photo }} #}
            </div>

            <div>
                <p>Titre :{{ didding.0.product.title }}</p>
                <p>Date de publication : {{ didding.0.product.createdAt | date('d/m/Y H:i') }}</p>
                <p>Date de début de l'enchère : {{ didding.0.dateStartAt | date('d/m/Y') }}</p>
                <p>Date de fin de l'enchère : {{ didding.0.dateEndAt | date('d/m/Y') }}</p>
                <p>Prix de départ : {{ didding.0.priceStart }} €</p>
                <p>
                    {% if didding.0.priceImmediate is not null %}
                        Prix immédiat pour stopper l'enchère : {{ didding.0.priceImmediate }} €
                    {% endif %}
                </p>
                <p>
                    {% if didding.0.shopper is not null %}

                        Prix le plus élevé est proposer par {{ didding.0.shopper.lastName }} {{ didding.0.shopper.firstName }} :

                        {% if didding.0.bestPrice is not null %}
                            {{ didding.0.bestPrice }} €
                        {% else %}
                            Soyer le premier à proposez un prix
                        {% endif %}

                    {% endif %}

                </p>
            </div>

            {% if didding.0.winner == true %}

                <p> L'enchère est terminer et à été remporter par {{ didding.0.shopper.lastName }} {{ didding.0.shopper.firstName }} au prix de {{ didding.0.bestPrice }} € </p>
            
            {% else %}


                <div>
                    {% if error is not null %}
                        {{ error }}
                    {% endif %}
                </div>

                <div>
                    {{ form_start(formPriceShopper) }}

                    <div class="">

                        <div class="form-error">
                            {{ form_errors(formPriceShopper.priceShopper) }}
                        </div>

                        <label>Faire une enchère</label>

                        <div>
                            {{ form_widget(formPriceShopper.priceShopper, { attr : { class : '' }} ) }}
                        </div>
                        
                        <small> {{ form_help(formPriceShopper.priceShopper) }} </small>
                    </div>

                    <div class="">
                        <button type="submit">Miser ce prix</button>
                    </div>

                    {{ form_end(formPriceShopper) }}
                </div>

            {% endif %}

    </article>

</section>

{% endblock %}