<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            <nav>
                <ul> <!-- "index.php?controleur=eleve&action=controleur_get_all_eleve" -->
                    <li><a href="{{ path('eleve') }}"> Gestion des élèves</a></li>
                    <li><a href="{{ path('classe_all') }}"> Gestion des Classes</a></li>
                    {# <li><a href=""> Gestion devoir</a></li> #}
                    {# <li><a href="devoirEleve/controleur_get_all_devoir_eleve">Notes des élèves/devoirs</a></li> #}

                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}"> Déconnexion </a></li>
                    {% else %}
                        <li><a href="{{ path('app_registration') }}"> Inscription </a></li>
                        <li><a href="{{ path('app_login') }}"> Connexion </a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}

                {# 
                    les web component
                    
                    customElements.define(name, constructor, options); 

                    https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/define 

                    https://youtu.be/lKm22TA5pzw
                #}
                <alert-message type="{{ type }}" duration="6">
                    {{ message }}
                </alert-message>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
