{% extends 'base.html.twig' %}

{% block title %}Modifier un eleve{% endblock %}

{% form_theme formEleve 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div id="container">
        <h1>Modifier un élève</h1>

        {{ form_start(formEleve) }}

            <div class="">
            
                {# <div class="form-error">
                    {{ form_errors(formEleve.nom) }}
                </div> #}

                <label>{{ form_label(formEleve.nom) }}</label>

                <div>
                    {{ form_widget(formEleve.nom, { attr : { class : '' }} ) }}
                </div>

                <small> {{ form_help(formEleve.nom) }} </small>
            </div>

            <div class="">

                {# <div class="form-error">
                    {{ form_errors(formEleve.prenom) }}
                </div> #}

                <label>{{ form_label(formEleve.prenom) }}</label>

                <div>
                    {{ form_widget(formEleve.prenom, { attr : { class : '' }} ) }}
                </div>

                <small> {{ form_help(formEleve.prenom) }} </small>
            </div>

            <div class="">

                <div class="form-error">
                    {{ form_errors(formEleve.dateNaissanceAt) }}
                </div>

                <label>Date de naissance</label>

                <div>
                    {{ form_widget(formEleve.dateNaissanceAt, { attr : { class : '' }} ) }}
                </div>
                
                <small> {{ form_help(formEleve.dateNaissanceAt) }} </small>
            </div>

            <div class="">

                <div class="form-error">
                    {{ form_errors(formEleve.moyenne) }}
                </div>

                <label>Moyenne</label>

                <div>
                    {{ form_widget(formEleve.moyenne, { attr : { class : '' }} ) }}
                </div>
                
                <small> {{ form_help(formEleve.moyenne) }} </small>
            </div>

            <div class="">

                <div class="form-error">
                    {{ form_errors(formEleve.appreciation) }}
                </div>

                <label>Appréciation</label>
                
                <div>
                    {{ form_widget(formEleve.appreciation, { attr : { class : '' }} ) }}
                </div>
                
                <small> {{ form_help(formEleve.appreciation) }} </small>
            </div>

            <div class="">
                <button type="submit">Modifier</button>
            </div>

        {{ form_end(formEleve) }}
    </div>


{% endblock %}