{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="container">

        <h2>Affiché un élève</h2>
        
        <div>
            <p>nom                  : {{ eleve.nom }}</p>
            <p>prenom               : {{ eleve.prenom }} </p>
            <p>date de naissance    : {{ eleve.dateNaissanceAt | date('d/m/Y H:i') }} </p>
            <p>moyenne              : {{ eleve.moyenne }} </p>
            <p>appreciation         : {{ eleve.appreciation }} </p>

            <?php if($one_eleve->getMoyenne() != $one_eleve->{'moyenne_eleve'} ) : ?> 
                <form action="" method="post">
                    <div>
                        <div>
                            <label for="note">Nouvelle moyenne de l'élève : </label>
                        </div>
                        <input type="text" name="note" id="note" value="<?= $one_eleve->{'moyenne_eleve'} ?>">
                    </div>

                    <div>
                        <input type="hidden" name="id" value="<?= $one_eleve->getId() ?>">
                    </div>

                    <div>
                        <input type="submit" value="Actualiser la moyenne de l'élève">
                    </div>
                </form>
            <?php endif; ?>
        </div>
    </div>
{% endblock %}