{% extends 'base.html.twig' %}

{% block title %}Gestion des élèves{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Gestion des élèves</h1>

    <h2>Voir tous les élèves de l'école</h2>
        <a href="{{ path('eleve_add') }}">Ajouter un élève</a>

{# <pre>
    {{ dump(eleves) }}
</pre> #}
        <table class='table'>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Classe n*</th>
                    <th>Moyenne</th>
                    <th>Appréciation</th>
                    <th>Afficher</th>
                    <th> Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody class='tbody'>
                {%  for eleve in eleves %}
                    <tr>
                        <td>{{ eleve.nom }}</td>
                        <td>{{ eleve.prenom }}</td>
                        <td>{{ eleve.dateNaissanceAt | date('d/m/Y H:i') }}</td>
                        <td>{{ eleve.classeDEcole.numeroClasse }}</td>
                        <td>{{ eleve.moyenne }}</td>
                        <td>{{ eleve.appreciation }}</td>
                        <td><a href="{{ path('eleve_get_one', { 'id' : eleve.id } ) }}">Afficher</a></td>
                        <td><a href="{{ path('eleve_edit', { 'id' : eleve.id } ) }}">Modifier</a></td>
                        <td><a href="{{ path('eleve_delete', { 'id' : eleve.id } ) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {# <td colspan="3">nombres d'élèves dans l'ecole : <?= $count_eleve->get_nb_eleve()  ?></td>
                <td> <?= $moyenne_ecole->get_moyenne_ecole() . ' / 20' ?></td> #}
            </tfoot>
        </table>
</div>
{% endblock %}
